@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.home {
  font-family: 'Montserrat', sans-serif;
  height: 100%;

  .container {
    margin: auto;
  }

  .caption-heading {
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 700;
  }

  .caption-text {
    font-size: clamp(0.7rem, 4vw, 1rem);
  }

  .btn {
    width: max-content;
    height: max-content;
  }

  .btn-login {
    color: #1e1ef4;
    background-color: transparent;
    border-color: #1e1ef4;
  }
}
