.home {
  .caption-heading {
    font-size: 60px;
    font-weight: 700;
  }

  .caption-text {
    font-size: 1.5rem;
  }

  .btn-login {
    color: #1e1ef4;
    background-color: transparent;
    border-color: #1e1ef4;
  }
}
