.page-header {
  margin-bottom: 1.875rem;
}
.add-btn {
  border-radius: 50px;
  color: #fff;
  float: right;
  font-weight: 500;
  width: 160px;
  max-height: 43px;
  white-space: nowrap;
}

a.btn.add-btn {
  border-radius: 40px;
  background-color: skyblue;
}
.page-title {
  color: #0e1114;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}
.page-header .breadcrumb {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.breadcrumb-item a {
  color: white;
}
.breadcrumb-item.active {
  color: #0e1114 !important;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 20px;
}

input,
button,
a {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  margin-bottom: 10px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  border-radius: 0.375rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-focus .focus-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate3d(0, 22px, 0) scale(1);
  -ms-transform: translate3d(0, 22px, 0) scale(1);
  -o-transform: translate3d(0, 22px, 0) scale(1);
  transform: translate3d(0, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  left: 12px;
  top: -8px;
  z-index: 1;
  color: black;
  margin-bottom: 0;
}

select.select {
  width: 100%;
  border-radius: 5px;
  line-height: 1.5rem;
  height: calc(1.6em + 1.25rem + 2px);
  border: solid 1px #8898aa;
}
.form-focus .form-control {
  height: 50px;
  padding: 21px 12px 6px;
}
.form-control {
  border-color: #e3e3e3;
  color: #1f1f1f !important;
  box-shadow: none;
  font-size: 15px;
  height: 44px;
}

.form-focus
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #676767;
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
}

.action-icon {
  color: #777;
  font-size: 18px;
  display: inline-block;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
.page-wrapper > .content {
  padding: 30px;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 30px;
  margin-left: 50px;
}
